extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Кислород - Тестовый проект
block page


    section.section.reviews
        .container
            h2.section__title.reviews__title Отзывы о товаре (#[span 2])

            .reviews__wrapper

                .reviews__list

                    +reviewsItem('Балашова Татьяна', 'previewsConsist')

                    +reviewsItem('Иванова Елена', false)


                .reviews__form


