extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Кислород - Тестовый проект
block page


    section.section.reviews
        .container
            h2.section__title.reviews__title Отзывы о товаре (#[span 2])

            .reviews__wrapper

                .reviews__list

                    +reviewsItem('Балашова Татьяна', 'previewsConsist')

                    +reviewsItem('Иванова Елена', false)


                .reviews__feedback.feedback

                    form.feedback__form(action="#" novalidate)

                        h3.feedback__title Оставить свой отзыв

                        .feedback__item
                            input.feedback__input(type="text" name="user_name" id="user_name" placeholder="Иван Иванов" required)
                            label.feedback__label(for="user_name") Как вас зовут?

                        .feedback__item
                            input.feedback__input(type="email" name="user_email" id="user_email" placeholder="@")
                            label.feedback__label(for="user_email") E-mail

                        .feedback__item
                            input.feedback__input(type="text" name="user_phone" id="user_phone" placeholder="+7" data-maska="+7 ### ### ## ##")
                            label.feedback__label(for="user_phone") Контактный телефон

                        .feedback__item
                            span.feedback__label Ваша оценка

                            +feedbackRating('feedback__rating')

                        .feedback__item
                            textarea.feedback__textarea(name="user_comment" id="user_comment" placeholder="Введите текст" required)
                            label.feedback__label(for="user_comment") Комментарий


                        .feedback__file.file 

                            label.file__label

                                input.file__input(type="file" multiple accept="image/png, image/jpeg, image/jpg" aria-label="Добавить фото")

                                include ./blocks/icon_file

                                span.file__hint Загрузить фотографии. Максимальный вес 10 мегабайт.#[br]Расширение jpeg, png


                        button.feedback__submit.btn.btn__blue(type="submit") Отправить

                    .feedback__confirm.confirm 
                        h3.confirm__title Спасибо за  ваш отзыв!
                        p.confirm__msg Ваш отзыв будет опубликован сразу после того, как его проверят наши сотрудники.








