.confirm {
    min-height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirm__title {
    margin: 0 auto 20px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.confirm__msg {
    margin: 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--color-gray, #464646);
}
