.reply {
    position: relative;
    padding-left: 84px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 40px;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10_1196)'%3E%3Cpath d='M10.7194 20.8006H19.4177L17.229 22.9891C17.1735 23.044 17.1293 23.1093 17.0991 23.1813C17.0689 23.2533 17.0532 23.3305 17.053 23.4086C17.0527 23.4867 17.0679 23.564 17.0977 23.6362C17.1275 23.7084 17.1712 23.7739 17.2264 23.8291C17.2816 23.8843 17.3472 23.9281 17.4194 23.9578C17.4915 23.9876 17.5689 24.0028 17.6469 24.0026C17.725 24.0023 17.8023 23.9866 17.8742 23.9564C17.9462 23.9262 18.0115 23.8821 18.0664 23.8265L21.1491 20.7438C21.2966 20.5959 21.3794 20.3956 21.3794 20.1868C21.3794 19.978 21.2966 19.7777 21.1491 19.6298L18.0664 16.5471C18.0115 16.4916 17.9462 16.4474 17.8742 16.4172C17.8023 16.387 17.725 16.3713 17.6469 16.3711C17.5689 16.3708 17.4915 16.386 17.4194 16.4158C17.3472 16.4456 17.2816 16.4893 17.2264 16.5445C17.1712 16.5997 17.1275 16.6653 17.0977 16.7375C17.0679 16.8096 17.0527 16.887 17.053 16.965C17.0532 17.0431 17.0689 17.1204 17.0991 17.1923C17.1293 17.2643 17.1735 17.3296 17.229 17.3845L19.4392 19.5947V19.6153H10.7194C6.90738 19.6153 3.80603 16.514 3.80603 12.7019L3.80603 0.592552C3.80603 0.435387 3.7436 0.284658 3.63247 0.173525C3.52133 0.0623932 3.37061 -4.00543e-05 3.21344 -4.00543e-05C3.05627 -4.00543e-05 2.90555 0.0623932 2.79441 0.173525C2.68328 0.284658 2.62085 0.435387 2.62085 0.592552L2.62085 12.7019C2.62085 17.1675 6.25385 20.8006 10.7194 20.8006Z' fill='%23B1B1B1' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10_1196'%3E%3Crect width='24' height='24' fill='white' transform='matrix(-1 0 0 -1 24 24)' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.reply__inner {
    padding: 24px;
    background-color: var(--color-gray-bg, #f6f6f6);
    border-radius: var(--radius, 5px);

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.reply__time {
    margin-bottom: 9px;
}

.reply__store {
    margin: 0 0 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.reply__text {
    margin: 0 0 16px 0;
}

.reply__regards {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
}
