.reviews__wrapper {
    @include min_md {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }
}

.reviews__list {
    margin-bottom: 30px;

    @include min_md {
        flex: 1 1 auto;
        margin-bottom: 0;
    }
}

.reviews__item {
    padding-top: 30px;
    border-top: 1px solid var(--color-gray-light, #b1b1b1);
}

.reviews__item,
.reviews__content {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.reviews__time {
    margin-bottom: 8px;
}

.reviews__rating {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0 0 8px 0;
    padding: 0;
    list-style-type: none;
}

.reviews__star {
    width: 18px;
    height: 18px;
    @include star_active;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reviews__star_disabled {
    @include star_disabled;
}

.reviews__person {
    margin: 0 0 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.reviews__text {
    margin: 0 0 24px 0;
}

.reviews__previews {
    display: flex;
    gap: 6px;

    picture,
    img {
        display: block;
        width: 90px;
        height: 120px;
        object-fit: cover;
        border-radius: var(--radius, 5px);
        overflow: hidden;
        cursor: pointer;
    }
}

.reviews__feedback {
    @include min_md {
        flex: 0 0 460px;
    }
}
