.section {
    margin: 40px 0;

    @include min_md {
        margin: 80px 0 120px;
    }
}

.section__title {
    margin: 0;
    padding: 16px 0 17px;
    font-weight: 500;
    font-size: 32px;
    color: var(--color-dark, #1a1a1a);
}

.section__time {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: var(--color-gray-light, #b1b1b1);
}

.section__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray, #464646);
}
